body {
  background-color: rgb(189, 194, 194);
}

header {
  background-color: cornflowerblue;
  color: rgb(9, 9, 71);
  font-size: 40px;
}

nav:link {
  color: blue;
}

nav:visited {
  color: purple;
}
