.container {
  background-color: rosybrown;
}

.item {
  padding-top: 25px;
  background-color: seashell;
  text-align: center;
  font-size: 36;
}

.container {
  width: 500px;
  display: flex;
  justify-content: space-around;
  border: 2px solid red;
  margin: 10px;
}

.item {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 5px solid black;
}

.item-1 {
  flex-grow: 1;
}

.item-2 {
  flex-grow: 2;
}

.item-3 {
  flex-grow: 1;
}
