.header {
  border: solid 2px green;
  background: black;
  width: 50px;
  height: 80;
  display: block;
}

.inline {
  border: solid 2px green;
  display: inline;
}

.inlineblock {
  border: solid 2px green;
  display: inline-block;
}
.box {
  border: solid 2px red;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}
